* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}       
     
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin: 0;
    border: 0;
    padding: 10px;
}

 header{
    display: flex;
} 

img {
    width: 250px;
    height: 65px;
    margin: 40px;
}

.warapper {
    /* width: 420px; */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 50px 50px;
}

.warapper legend {
    font-size: 36px;
    text-align: center;
}

.warapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 10px 20px 45px;
}

.input-box span {
    position: absolute;
    color: white;
    left: 46px;
    bottom: 17px;
    transition: 0.3s;
    pointer-events: none;
    transition: 0.5s;
    opacity: .7;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span {
    left: 20px;
    transform:  translateY(-40px);
    font-size: 17px;
    opacity: 1;
}


.input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 20px;
}

.warapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.warapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {    
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


@media(min-width:250px) and (max-width:380px){
    body {
        background-size: 100vw 100vh;
        min-height: 100vh;
    }

    .warapper{
        padding: 50px 50px;
    }
}

@media(min-width:381px) and (max-width:699px){
    body {
        background-size: 100vw 100vh;
        min-height: 100vh;
    }


}

@media(min-width:700px) and (max-width:899px){
    body {
        background-size: 100vw 100vh;
        min-height: 100vh;
        
    }
}

@media(min-width:900px) and (max-width:1550px){
    body {
        background-size: 100vw 100vh;
        min-height: 100vh;
    }


}